<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onigashima</title>
</head>
<body>
    <h1>Bienvenido a ... ¡ ONIGASHIMA ! donde tenes libertad para la elección de tus personajes</h1>
</body>
</html>